/* Estilos en Home */
body {
  background-color: #f0ebe1;
}

h1 {
  font-family: Monoton;
}

.container {
  width: 70%;
  margin: 100px auto 0px auto;
}

.nombre {
  font-size: 7vw;
  letter-spacing: 0.1em;
  text-align: center;
}

.apellido {
  font-size: 9vw;
  letter-spacing: 0.6em;
  margin-left: 4.5vw;
  text-align: center;
}

.img1 {
  width: 50%;
  margin-top: 2vh;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.sidebar {
  position: fixed;
  margin: 1.5% 0 0 93%;
  width: max-content;
}

.hamburguesa{
  text-align: right;
  background-color:  #f0ebe1;
  margin-left: -2vw;
}

#hamburguesa-resp {
  display: none;
}

.fa, .fas {
  font-size: 2.5vw;
}

.links {
  transform: translate(115%);
  transition: transform 0.9s;
  margin-top: 1vh;
}

.links-show {
  transform: translate(-70%);
}

.navegacion a {
  font-family: "Bebas Neue", cursive;
  font-size: 2vw;
  text-decoration: none;
  color: black;
}

.links{
  text-align: right;
}

/* Navigation Menu Overlay */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */   
  height: 0;
  width: 100%;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 16%;
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  /* margin-top: 30px; 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 2vw;
  text-decoration: none;
  font-size: 8vw;
  color: #f0ebe1;
  display: block; /* Display block instead of inline */
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  background-color:  rgba(0,0,0, 0.9);
  color: #f0ebe1;
}

.cont-video1 {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;

}


/* Media queries */
@media only screen and (max-width: 768px) and (min-width: 321px) {
    
  .img1 {
    margin-top: 3vh;
    width: 138%;
  }

  .apellido {
    font-size: 19vw;
    margin-left: -6vw;
  }

  .nombre {
    font-size: 14.5vw;
    margin-left: -4.5vw;
  }

  .sidebar {
    margin: -10.5% 0 0 94%;
  }

  .fa, .fas {
    font-size: 6vw;
  }

  .links {
    display: none;
  }

  #hamburguesa-resp {
    display: initial;
  }

  #hamburguesa {
    display: none;
  }
}



@media only screen and (max-width: 320px) {
  
  .nombre {
    font-size: 16.5vw;
  }

  .apellido {
    font-size: 21vw;
    margin-left: 0vw;
  }

  .img1 {
    margin-top: 4vh;
    width: 219%;
    margin-left: -30%;
  }

  .sidebar {
    margin: -24% 0 0 81%;
  }

  .links {
    display: none;
  }

  #hamburguesa-resp {
    display: initial;
  }

  #hamburguesa {
    display: none;
  }

}


