/* Estilos en Home */
body {
  background-color: #f0ebe1;
  /* height: 100%; */
}

h1,
span {
  font-family: Monoton;
}

.container {
  width: 70%;
  margin: 100px auto 0px auto;
  border: dotted 2px red;
  /* height: 80%; */
  display: flex;
  flex-direction: column;
  
}

.nombre {
  font-size: 8.5vw;
  letter-spacing: 0.2em;
  /* margin: auto; */
  text-align: center;
  border: solid 1px blue;
}

.apellido {
  font-size: 11vw;
  letter-spacing: 0.7em;
  text-align: right;
  /* margin: auto; */
  border: solid 1px blue;
}

.img1 {
  width: 46%;
  /* margin-left: auto;
  margin-right: auto; */
  border: solid 1px green;
  align-self: center;
}

.sidebar {
  position: fixed;
  margin: 0 0 0 93%;
  /* padding: 0; */
  width: max-content;
  /* background-color: #f1f1f1; */
  /* height: 100%; */
  /* overflow: auto; */
}

.hamburguesa{
  border: none;
  text-align: right;
}

.links {
  top: 0;
  left: 0;
  /* width: 100%;
  height: 100%; */
  visibility: hidden;
  
}

.links-show {
  visibility: visible;
  /* position: absolute; */

}

.navegacion {
  font-family: "Bebas Neue", cursive;
  font-size: 2vw;
  text-decoration: none;
  color: black;
}

.links{
  text-align: right;
}

.cont-video1 {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}


/* @media screen and (propiedad: valor) {
  selector {
    propiedad: valor;
  }
} */
